<style>
    #link {
        color: dodgerblue;
    }
</style>
<h1>Austen Organization Team</h1>
<p>Here at Austen News Team, we worked on this Austen Wiki project to make researching for a project easier. We are composed of a group of students which include <a href="/about/baldwinhuang" id="link">Baldwin Huang</a>, <a href="/about/maelcamilolefevre" id="link">Mael-Camilo Lefevre</a>, Juan Guillermo,  Suri Feng and Miguel Franjul. We worked our hardest to make this a good website. If you find the site useful, we are open for donations. If you find any problems with the website, tell us so that we fix it. Contact us at theaustenwiki@gmail.com. We use an array of other websites all in one place so that you can more easily write essays. We have a Wikipedia API that allows us to source all of our data from Wikipedia and other sources of data like Ecosia.</p>
