<style>
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-family: 'Times New Roman', Times, serif;
    }
    #link {
        color: dodgerblue;
    }
</style>
<div style="border-bottom: 2px solid deepskyblue; width: 25%;"><h1 >Mael-Camilo Lefevre</h1></div>
<div >
    <h2>Role: Finance Executive</h2>
    <p>Mael-Camilo Lefevre Castaneda, born on April 18, 2009, is a dynamic individual serving as the head of business and research for <a href="/" id="link">theaustenwiki.org</a>. A student at the esteemed Saint George School, an IB and IGCSE institution under the ownership of North Anglia, Mael-Camilo combines his educational pursuits with a growing passion for coding.</p>
    <p>Embracing the world of programming, Mael-Camilo is currently on an exciting journey of learning various coding languages. His dedication and natural aptitude for coding have led him to provide invaluable assistance to Baldwin Huang, the esteemed head of coding at <a href="/" id="link">theaustenwiki.org</a>.</p>
    <p>In addition to his coding prowess, Mael-Camilo brings a unique set of skills to the team, specializing in business strategies and research. With his keen analytical mind and creative problem-solving abilities, he plays a vital role in driving the growth and success of <a href="/", id="link">theaustenwiki.org</a>.</p>
    <p>Mael-Camilo's commitment to excellence, coupled with his diverse skill set, positions him as a valuable asset to <a href="/" id="link">theaustenwiki.org</a>'s mission of delivering high-quality content and fostering a vibrant online community.</p>   

    <h3>Contact Me:</h3>
    <p>Contact the Company: <a href="mailto:theaustenwiki@gmail.com" id="link">theaustenwiki@gmail.com</a></p>
</div>