<style>
    p {
        font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
        font-family: 'Times New Roman', Times, serif;
    }
    #link {
        color: dodgerblue;
    }
</style>
<div style="border-bottom: 2px solid deepskyblue; width: 25%;"><h1 >Baldwin Huang</h1></div>
<div >
    <h2>Role: Web Developer</h2>
    <p>Born on October 8th, 2009, in The United States of America, Baldwin Huang is a renowned web developer and the visionary founder of the esteemed website, <a href="/" id="link">www.theaustenwiki.org.</a></p>
    <p>Baldwin's journey into the world of computers commenced at the tender age of 12, when he delved into the captivating realm of programming through platforms like freecodecamp.org, initially focusing on Python. However, his passion for learning led him to explore various other programming languages and technologies at the age of 13.</p>
    <p>Motivated by a desire to integrate diverse tools and information, Baldwin embarked on the creation of his own website. Utilizing the &#60;iframe> element alongside the Wikipedia API, he skillfully developed a platform that seamlessly merged numerous resources. Recognizing the importance of collaboration, he assembled a team of talented designers, programmers, and journalists, who played instrumental roles in fueling the website's growth and success.</p>
    <p>Through Baldwin's expertise and relentless pursuit of innovation, <a href="/" id="link">www.theaustenwiki.org.</a> has emerged as a leading hub for knowledge seekers, serving as a testament to his unwavering dedication to the art of web development.</p>   

    <h3>Contact Me:</h3>
    <p>Contact the Company: <a href="mailto:theaustenwiki@gmail.com" id="link">theaustenwiki@gmail.com</a></p>
</div>