<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Research about essay topic and use assistive essay writing technologies here on The Austen Wiki.">
    <link rel="icon" type="image/x-icon" href="https://static.wixstatic.com/media/c1b42d_05c2082d93994ffdab3369a0b7daa687~mv2.png/v1/fill/w_614,h_614,al_c,lg_1,q_90,enc_auto/c1b42d_05c2082d93994ffdab3369a0b7daa687~mv2.png">
    <title>Austen Wiki</title>
  </head>
  <body>
  <div style="text-align:center; margin-top:5%;">
    <main>
        <a href="/"><img alt="Logo" src="https://static.wixstatic.com/media/c1b42d_98f394b365c94b2cb0ab1e777a5a6b09~mv2.png/v1/fill/w_1384,h_462,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_98f394b365c94b2cb0ab1e777a5a6b09~mv2.png" style="min-width: 300px; max-width: 35%; border-radius: 32px;"></a>
            <form name="inputs" action="search" method="get">
            <Label for="search">Search: </Label><input name="search" type="text" autofocus="autofocus" accesskey="F" dir="auto" autocomplete="off" style="border-radius: 8px; margin: 4px;"><input style="background-color:rgb(64, 101, 197); color:white; border: 0px; border-radius: 8px; " type="submit" value="Search">
       <label for="lang"></label>
    <select name="lang" id="lang" style="border-radius: 8px;">
      <option value="en">English</option>
      <option value="es">Español</option>
      <option value="fr">Français</option>
    </select>
    <select name="search-eng" id="search-eng" style="border-radius: 8px;">
        <option value="ecosia">Ecosia</option>
        <option value="wikipedia">Wikipedia</option>
        <option value="britannica">Britannica</option>
    </select>
        </form>
      <div class="footer" style="max-width: 35%; min-width:300px; margin: 0 auto;">
          <fieldset style="border-radius: 32px;">
                    <a href="/news"><img alt="Austen News" src="https://static.wixstatic.com/media/c1b42d_0e040aba9648479080970b6546411985~mv2.jpg/v1/fill/w_1480,h_380,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c1b42d_0e040aba9648479080970b6546411985~mv2.jpg" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/games"><img alt="Austen Games" src="https://static.wixstatic.com/media/c1b42d_f9912844c30845c59005e2577a87b7fa~mv2.png/v1/fill/w_1480,h_494,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_f9912844c30845c59005e2577a87b7fa~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/paraphraser"><img alt="Paraphraser" src="https://static.wixstatic.com/media/c1b42d_b5683eb409764bf0aa93259aa2164c6f~mv2.png/v1/fill/w_1480,h_492,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_b5683eb409764bf0aa93259aa2164c6f~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="https://app.copyleaks.com/"><img alt="Plagiarism Checker" src="https://static.wixstatic.com/media/c1b42d_8dd5032b57804eb5a4a467c2bd7b3e63~mv2.png/v1/fill/w_1480,h_492,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_8dd5032b57804eb5a4a467c2bd7b3e63~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/translator"><img alt="Translator" src="https://static.wixstatic.com/media/c1b42d_3969cd283bd04c2a99bc07d92829dacf~mv2.png/v1/fill/w_1480,h_494,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_3969cd283bd04c2a99bc07d92829dacf~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/photos"><img alt="Stock Photo Library" src="https://static.wixstatic.com/media/c1b42d_0c56f7d5e0124811888e7886c84ac21e~mv2.jpg/v1/fill/w_1480,h_494,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c1b42d_0c56f7d5e0124811888e7886c84ac21e~mv2.jpg" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/citations"><img alt="Citation Machine" src="https://static.wixstatic.com/media/c1b42d_2a5173082fa349b4beb1dcf0c5007def~mv2.png/v1/fill/w_1480,h_494,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_2a5173082fa349b4beb1dcf0c5007def~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/bgremover"><img alt="Back Ground Remover" src="https://static.wixstatic.com/media/c1b42d_a0e37971a8d64ab0af47de2c1525c593~mv2.png/v1/fill/w_1480,h_494,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_a0e37971a8d64ab0af47de2c1525c593~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/tenminutemail"><img alt="Ten Minute Mail" src="https://static.wixstatic.com/media/c1b42d_5e1ae5034ef940f2b2ec5e6a88b632a8~mv2.png/v1/fill/w_1480,h_494,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c1b42d_5e1ae5034ef940f2b2ec5e6a88b632a8~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/maths"><img alt="Maths" src="https://static.wixstatic.com/media/4120dd_e0a75bdfaad249a1bdad4093feba7b95~mv2.png/v1/fill/w_851,h_283,al_c,lg_1,q_85,enc_auto/4120dd_e0a75bdfaad249a1bdad4093feba7b95~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
                    <a href="/llama2ai"><img alt="Llama 2 AI" src="https://static.wixstatic.com/media/4120dd_b9f8bb8f3e5a403bbc0da3155214c2ab~mv2.png/v1/fill/w_851,h_283,al_c,lg_1,q_85,enc_auto/4120dd_b9f8bb8f3e5a403bbc0da3155214c2ab~mv2.png" width="40%" style="text-align: left; border-radius: 8px;"></a>
          </fieldset>
      </div>
    </main>
  </div>
  </body>
</html>