<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<style>
    #calculator, #graphingCalculator, #algebra, #notepad {
        visibility: hidden;
        position: absolute;
        cursor: move;
        z-index: 10;
        border: None;
    }
    button:hover {
        background-color: darkgrey;
    }
    .calculatorheader, .graphingCalculatorheading, .algebraheader, .notepadheader {
        background-color: dodgerblue;
        text-align: center;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>


<div style='width:95%; float: left;'>
    <iframe id="whiteBoard" src="https://witeboard.com/" width="100%" height="850px" style="border: None; z-index: 9;"></iframe>
</div>
<div id="calculator" ><div class="calculatorheader">Scientific Calculator</div><iframe height="500px" src="https://www.desmos.com/scientific"></iframe></div>
<div id="graphingCalculator"><div class="graphingCalculatorheading">Graphing Calculator</div><iframe height="700px" width="1200px" src="https://www.desmos.com/calculator"></iframe></div>
<div id="algebra"><div class="algebraheader">Algebra</div><iframe height="500px" width="700px" src="https://www.mathway.com/algebra"></iframe></div>
<div id="notepad"><div class="notepadheader">Note Pad</div><iframe height="500px" width="400px" src="https://onlinenotepad.org/notepad"></iframe></div>
<div class="toolbar">
    <button onclick="
    switch (getComputedStyle(document.getElementById('calculator')).visibility) {
        case 'hidden':
        document.getElementById('calculator').style.visibility = 'visible';
            break;
        case 'visible':
        document.getElementById('calculator').style.visibility = 'hidden';
        default:
            break;
    }
    " style="height: 48px; width: 48px; border-radius: 0px; border: None; margin-left: calc(5% - 48px);"><i styles="" class="fa fa-calculator fa-2x"></i></button>
    <button onclick="
    switch (getComputedStyle(document.getElementById('graphingCalculator')).visibility) {
        case 'hidden':
        document.getElementById('graphingCalculator').style.visibility = 'visible';
            break;
        case 'visible':
        document.getElementById('graphingCalculator').style.visibility = 'hidden';
        default:
            break;
    }"style="height: 48px; width: 48px; border-radius: 0px; border: None; margin-left: calc(5% - 48px);"><i class="fa fa-line-chart fa-2x"></i></button>
    <button onclick="
    switch (getComputedStyle(document.getElementById('algebra')).visibility) {
        case 'hidden':
        document.getElementById('algebra').style.visibility = 'visible';
            break;
        case 'visible':
        document.getElementById('algebra').style.visibility = 'hidden';
        default:
            break;
    }"style="height: 48px; width: 48px; border-radius: 0px; border: None; margin-left: calc(5% - 48px);"><img width="32px" src="https://cdn1.iconfinder.com/data/icons/financial-data/100/Function-512.png"></button>
    <button 
    onclick="
    switch (getComputedStyle(document.getElementById('notepad')).visibility) {
        case 'hidden':
        document.getElementById('notepad').style.visibility = 'visible';
            break;
        case 'visible':
        document.getElementById('notepad').style.visibility = 'hidden';
        default:
            break;
    }"style="height: 48px; width: 48px; border-radius: 0px; border: None; margin-left: calc(5% - 48px);"><img width="32px" src="https://cdn3.iconfinder.com/data/icons/education-line-26/70/edit__write__document__notes__pencil-512.png"></button>
    <button 
    onclick="
    switch (getComputedStyle(document.getElementById('whiteBoard')).visibility) {
        case 'hidden':
        document.getElementById('whiteBoard').style.visibility = 'visible';
            break;
        case 'visible':
        document.getElementById('whiteBoard').style.visibility = 'hidden';
        default:
            break;
    }"style="height: 48px; width: 48px; border-radius: 0px; border: None; margin-left: calc(5% - 48px);"><img width="32px" src="https://cdn2.iconfinder.com/data/icons/essential-set-01/64/computer-imac-512.png"></button>
</div>
</div>
<script>
    // Make the DIV element draggable:
dragElement(document.getElementById("calculator"));
dragElement(document.getElementById("graphingCalculator"));
dragElement(document.getElementById("algebra"));
dragElement(document.getElementById("notepad"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    // if present, the header is where you move the DIV from:
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>